{% extends 'layout.html' %}

{% block title %}
    Forgot password
{% endblock %}

{% block main %}
<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="static/e81a7985_2.jpg" style = 'width: 190%;' alt="Phone image">
        </div>
        <br><br><br>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <p id = 'id' style="color: White;">Password recovery</p>
          <form method="POST" action = '/forgot'>
            <!-- Username input -->
            <div class="form-outline mb-4 size">
              <label class="form-label" for="form1Example13" style="color: White;">Username</label>
              <input type="text" id="form1Example13" name = username class="form-control form-control-lg" />
            </div>
            <br><br>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
{% endblock %}